<div class="container">
    <div class="row mb-3">
        <button [routerLink]="'/'">Home</button>
    </div>
    <div class="row">
            <div class="col-sm">
                <h2>My account</h2>
                <p>Encrypt</p>
                <textarea [(ngModel)]="message" [style.width.px]="400" [style.height.px]="100"></textarea>
                <p>
                    <button (click)="encrypt()">Encrypt</button>
                </p>
                <p><strong>Encrypted message</strong></p>
                <p>{{ encryptedMessage }}</p>
                <br><br>
                <p><strong>Decrypt</strong></p>
                <textarea [(ngModel)]="encryptedMessageFriend" [style.width.px]="400" [style.height.px]="100"></textarea>
                <p>
                    <button (click)="decrypt()">Decrypt</button>
                </p>
                <p><i>Decrypted message:</i></p>
                <p>{{ decryptedMessage }}</p>
            </div>
    </div>
    <div class="row">

        <div class="col-sm">
            <h2>Friend's account</h2>
            <p>Encrypt</p>
            <textarea [(ngModel)]="messageFriend" [style.width.px]="400" [style.height.px]="100"></textarea>
            <p>
                <button (click)="encryptFriend()">Encrypt</button>
            </p>
            <p><strong>Encrypted message</strong></p>
            <p>{{ encryptedMessageFriend }}</p>
            <br><br>
            <p><strong>Decrypt</strong></p>
            <textarea [(ngModel)]="encryptedMessage" [style.width.px]="400" [style.height.px]="100"></textarea>
            <p>
                <button (click)="decryptFriend()">Decrypt</button>
            </p>
            <p><i>Decrypted message:</i></p>
            <p>{{ decryptedMessageFriend }}</p>
        </div>
    </div>
</div>
