<div class="container">
    <div class="row">
        <div class="col-12 mt-2">
            <button [routerLink]="'/'" [disabled]="inProgress">Home</button><br/><br/>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="importAccountByMnemonic" name="signinType" class="custom-control-input" value="mnemonic" [(ngModel)]="importOptionType"> <label class="custom-control-label" for="importAccountByMnemonic">Account Mnemonic Phase</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="importAccountBySeed" name="signinType" class="custom-control-input" value="seed" [(ngModel)]="importOptionType"> <label class="custom-control-label" for="importAccountBySeed">Account Seed</label>
            </div>
            <p><input type="text" class="form-control" [(ngModel)]="wif" value=""></p>
            <p>
                <button (click)="import()" [disabled]="inProgress">Import Existing Account</button>
                <button [routerLink]="'/account/create'" [disabled]="inProgress" style="float: right">Create New Account</button>
            </p>
        </div>
    </div>
</div>

