<div class="container">
    <div class="row">
        <div class="col-12 mt-2">
            <button [routerLink]="'/'" [disabled]="inProgress">Home</button>
            <br/><br/>
            <button (click)="createNewAccount()" [disabled]="inProgress">Create New Account</button>
            <button [routerLink]="'/account/import'" [disabled]="inProgress" style="float: right">Import Existing Account</button>
            <ng-container *ngIf="account">
                <p><strong>Account Data:</strong></p>
                <p><strong>Address:</strong> {{ account.address || '/' }}</p>
                <p><strong>Public key:</strong> {{ account.publicKey || '/' }}</p>
                <p><strong>Seed:</strong> {{ account ? account.seed : '/' }}</p>
                <p><strong>Private key:</strong> {{ account.privateKey || '/' }}</p>
            </ng-container>
        </div>
    </div>
</div>

